html,body{
  height: 100%;
}

.video-frame-wrap{
  z-index: -1;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.video-frame{
  position: absolute;
  top: -230px;
  display: block;
  width: 100%;
  height: 720px;
}